<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<ul>
  Type anything:
  <input placeholder="anagram"
         (input)="getWord($event)"/>
  <button class="btn btn-primary"
          (click)="getAnagrams(word)"
          >Generate Anagram</button>
</ul>

<table *ngIf="anagrams">
  <!-- <thead >
  <th (click)="sort()">Anagrams</th>
  </thead> -->
  <tbody>
  <tr *ngFor="let anagram of anagrams">
    <td> {{anagrams}} </td>
  </tr>
  </tbody>
</table>
